.background{
    background-color:floralwhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;
    font-variant: small-caps;
    font-weight: 16x;
    letter-spacing: 1px;
    color: black;
    
  }

